@font-face {
    font-family: 'perfect_dos_vga_437_winRg';
    src: url('assets/fonts/perfectdosvga437win-webfont.eot');
    src: url('assets/fonts/perfectdosvga437win-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/perfectdosvga437win-webfont.woff') format('woff'),
         url('assets/fonts/perfectdosvga437win-webfont.ttf') format('truetype'),
         url('assets/fonts/perfectdosvga437win-webfont.svg#perfect_dos_vga_437_winRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: #222;
	font-family: 'perfect_dos_vga_437_winRg', sans-serif;
	color: white;
}

#cr-stage  div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#cr-stage {
	width: 768px;
	height: 576px;
	border: 3px solid black;
	background-color: black;
	float: left;
	margin: 30px;
}

#help {
	width: 258px;
	height: 426px;
	padding: 15px;
	padding-top: 150px;
	float: left;
	margin: 33px;
	margin-left: 0;
	background: url('assets/helpbg.gif') no-repeat;
	font-family: 'Arial', sans-serif;
	font-size: 12px;
    color: #888;
}
#help h2  {
    font-size: 14px;
	margin-bottom: 5px;
}

a {
    color: #BBB;
}

#cr-stage .Pointer {
	cursor: pointer;
}